.data{
    position:absolute;
    left: 70px;
    z-index: 5;
    top: 0;
}

@media only screen and (max-width: 1000px) {
    .flex {
      display: flex;
    }
    .flex ul{
        flex-direction: row;
    }
    .data{
      left: 35px;

    }
    .myitem{
      padding-left: 25px;
    }

  }