<div class="container my-4 dat">
    <h1 class=" text-center my-4 ">Take your Notes here</h1>
    <form #addNote="ngForm" (ngSubmit)="addnote(addNote.value)" class="form">
        <input type="text" ngModel name="title" placeholder="title">
        <!-- <input type="text" ngModel name="desc" placeholder="desc"> -->
    <textarea class="form-control" type="text" ngModel name="desc" placeholder="desc"  rows="3"></textarea>
        <button class="btn btn-primary">add note</button>
    </form>
    <p id="danger" class="text-danger"></p>
    <h1 class="text-center">all Notes</h1>
    <div id="notes" class=" notes">
        <div class="card" style="width: 64rem;" *ngFor=" let obj of noteObj; let indexOfelement=index;">
            <div class="card-body">
                <h5 class="card-title">{{obj.title}}</h5>
                <p class="card-text">{{obj.desc}}</p>
                <button class="btn btn-primary mybtn" (click)="deleteNote(indexOfelement)">Delete</button>
            </div>
        </div>
    </div>
</div>