<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="abc.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="landscape_grass.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="landscape_water.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <div class="jumbotron container data3">
    <h1 class="display-4 " style="font-weight: 600;">Hello,Welcome to my world!</h1>
    <p class="lead mgn" style="font-weight: 500;">This is a simple hero unit</p>
    <hr>
    <p class="lead" >
      <a class="btn btn-primary btn-lg " href="#" role="button">Learn more</a>
    </p>
  </div>
