<ngb-carousel >
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="abc" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="landscape_grass" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="landscape_water" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
  <div class="jumbotron container data3">
    <h1 class="display-4 " style="font-weight: 600;">Hello,Welcome to my world!</h1>
    <p class="lead mgn" style="font-weight: 500;">This is a simple hero unit</p>
    <hr>
    <p class="lead" >
      <a class="btn btn-primary btn-lg " routerLink="/" role="button">Learn more</a>
    </p>
  </div>
